/*************************** basic body styling ****************************/
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #444444;
    background-color: #f6f6f6;
}

main{
    height:100%;
    padding-bottom: 2%;
}

#gradcap{
    width:40%;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

/**************************** styling body text****************************/
p,h2{
    padding: 10px;
}

h2{
    text-align: center;
    font-size: 16px;
}
ul{
    text-align: center;
}

h1,h2,h3{
    font-weight: bolder;
}

h3{
    font-size: 1.5em;
    text-decoration: underline overline;
    text-align: center;
    padding-top:5%;
    padding-bottom: 5%;
}

.underline{
    text-decoration: underline;
}

.plan{
    text-align: center;
    font-size: 1.3em;
    padding:5%;
    margin-top:5%;
    margin-bottom: 5%;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.centered{
    text-align: center;
    font-size: 1.1em;
    background-color: #d4d1d1;
}

.plan, .centered{
    margin-right: 20%;
    margin-left: 20%;
}

/**************************** header styling ****************************/
header{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    padding: 10px;
    background-color: #4c5c4d;
    color: white;
}
header>h1{
    margin-bottom: 10px;
    font-size: 25px;
}

nav{
    display: flex;
    justify-content: space-around;
}
nav>ul{
    display: flex;
    flex-direction: row;
}
li{
    margin-right: 8px; /* keep page links spaced apart*/
}

/**************************** link styling ****************************/
a{
    color: #466355;
    text-decoration: none;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}
  
.mynav>li>a{
    color:white;
}

.active{
    border: 1px solid white;
}

.small{
    font-size: 18px;
    text-align: center;
}

/****************************** styling quick links **************************/

.quicklinks{
    line-height: 1.5rem;
    margin-right: 10%;
    margin-left: 10%;
    border: solid 1px #4c5c4d;
    text-decoration: underline;
}

/**************************** checklist styling ****************************/
.grid-container {
    display: inline-grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 10px;
    padding: 10px;
    background-color: #466355;
}

.div1,.div3,.div5{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 25%;
  /*padding: 10% 0;*/
  font-size: 1.5em;
  padding-top: 50%;
}

.div2,.div4,.div6{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    /*padding: 10% 0;*/
    padding-top: 10%;
    padding-left: 5%;
    font-size: 1.15em;

    display:flex;
    flex-flow:column wrap;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }

input[type='checkbox']{
    margin-right: 5%;
}

/*************************** flip card styling (INSPIRED BY W3SCHOOLS) *********************/

div.essaygrid{
    display:grid;
    grid-template-rows: repeat(9, 1fr);
    grid-row-gap: .5%;
    padding: 10%;
    margin-bottom: 15%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    display:flex;
    justify-content: center;

    background-color: #bbb;
    color: black;
    transform: rotateY(180deg);
  }

/*************************** form styling **********************/

form.contact {
    display: flex table;
    justify-content: center;
    padding:2%;
    margin:5%;
    border: 2px solid #466355;
}

div.formbody {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
}

form.contact > h2 {
    text-align: center;
    text-decoration: underline;
}

div.email, div.subject, div.body {
    display: table-row;
}

div.subject > label, div.email > label, div.body > label, 
div.subject > input, div.email > input, div.body > input {
    display: table-cell;
    margin-bottom: 10px;
}

div.submit > input{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/*************************** footer styling **********************/

footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #d4d1d1;
    padding: 10px;
    text-align: center;
    
    position: relative;
    bottom: 0;
    width: 100%;
}
.footerlink{
    color:black;
}

/****************************** responsive (bigger screen) *******************/
/* when screen-size > 850px */
@media screen and (min-width: 850px){
   
    .grid-container {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }

    #contact {
        margin-right: 20%;
        margin-left: 20%;
    }

    div.essaygrid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5%;
        margin-bottom: 5%;
        grid-gap:10%;
    }

}


/********************************* when the user prefers reduced motion *********************************/
@media screen and (prefers-reduced-motion: reduce){

  .flip-card-inner {
    transition: transform 0s;
  }

  a.skip {
      transition: top 0s ease-out;
  }

}